body{
    background-color: white;
    text-align: left;
    font-family: Avenir, Roboto, Arial, Helvetica, sans-serif;
}

.header--main{
    font-weight: bold;
    font-size: 60px;
    color:black;
}

/* Headings */
.h1{}

.h2{}

.p-info{}

.p--caption{
    font-size: 32px;
    color:black;
}

