body{
    background-color: white;
    text-align: left;
    font-family: Avenir, Roboto, Arial, Helvetica, sans-serif;
}

.header--main{
    font-weight: bold;
    font-size: 36px;
    color:black;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
/* Headings */
.h1{}

.h2{
    font-weight: bold;
    font-size: 18px;
}

.p--info{
    font-size: 12px;
}

.p--caption{
    font-size: 12px;
    color:black;
}

