body{
    background-color: white;
    text-align: left;
    font-family: Avenir, Roboto, Arial, Helvetica, sans-serif;
}

.header--main{
    font-weight: bold;
    font-size: 60px;
    color:black;
}

.link--caption{
    font-size: 16px;
    color:black;
}